---
layout: default
title: About
permalink: /about/
---

<div class="about-section py-4">
  <h2 align="center" class="p-1">Brief Intro</h2>
  <p class="intro-body">
    {{ site.data.about.brief_intro }}
  </p>

  {% if site.data.about.roles != null %}
    <div class="text-center">
      <h2 class="p-1">Current Roles</h2>
      <div class="d-sm-flex justify-content-center">
        {% for role in site.data.about.roles %}
          {% include role-outline.html role=role %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  
  {% if site.data.about.journey != null %}
    <div class="text-center">
      <h2 class="p-1">Journey</h2>
      <div class="col-sm-12">
        {% include timeline.html %}
      </div>
    </div>
  {% endif %}  
</div>
