<div class="col-md-12 col-sm-12 mb-3">
  <div class="blog-card">
    <div class="row">
      <div class="col-md-12">
        <div class="card-body">
          <div class="border-bottom">
            <span class="blog-card-title font-weight-bold h5 mr-2">
              <a class="post-title" href="{{ include.project.url }}" target="_blank">{{ include.project.name }}</a>
            </span>
            &nbsp;|&nbsp;
            <span class="h5 ml-2">
              <a class="post-title" href="{{ include.project.src }}" target="_blank"><i class="fas fa-file-code"></i></a>
            </span>
          </div>

          <p class="blog-card-text mt-3">
            {{ include.project.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
