<!-- Overriding the default Minima file -->
<ul class="social-media-list">
  {%- if site.twitter_username -%}
    <li>
      <a href="https://twitter.com/{{ site.twitter_username | cgi_escape | escape }}" 
         title="{{ site.twitter_username | escape }}" target="_blank">
        <svg class="svg-icon grey">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
        </svg>
        {{ site.twitter_username }}
      </a>
    </li>
  {%- endif -%}
</ul>
