.post {
  margin-top: 1em;

  .post-header {
    text-align: center;
  }
}
.post .post-content {
  margin-top: 1em;
}
.post-info-wrapper {
  font-size: 14px;
}
.post .post-info-wrapper p {
  padding-top: 0px !important;
}
.post p {
  color: #404040 !important;
}
.post h3 {
  font-size: 26px;
  font-weight: 500;
}
#interview-section div {
  font-size: 17px;
  line-height: 28px;
}
.post-content .image-wrapper img.circular {
  display: block !important;
  margin: 0 auto !important;
  width: 250px !important;
  height: 250px !important;
  padding-left: 0 !important;
  border-radius: 100%;
  box-shadow: 0px 0px 30px #111;
  width: 100%;
}
.post-content .image-wrapper img.centered {
  display: block !important;
  margin: 0 auto !important;
  box-shadow: 0px 0px 30px #111 !important;
  padding: 0 !important;
}

.post-area {
  padding: 10px;
  width: 100%;
  background-color: white;
  border-bottom: 1px dotted #ddd;
}
.blog-post-short {
  padding: 0.2em 1.5em 0.1em 1.5em;
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #111;
}
.blog-post-short:hover {
  box-shadow: 1px 1px 10px #111;
}

.post-area a:link, .post-area a:visited {
  font-size: 30px;
  color: #333;
}

.post-area a:hover {
  color: #0D0017;
}
