---
layout: default
---

<div id="home" class="row my-md-4">
  <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 border-secondary alt-bg-color1 border-right text-center">
    <h1>About</h1>
    <div class="profile-pic">
      {% assign site_title = site.title %}
      {% include image.html
                 img="/profile_pic.png"
                 title=site_title
                 class="rounded-circle"
      %}
    </div>
    <div class="about-brief-info text-muted">
      {{ site.data.about.brief_intro }}
    </div>
    <a href="/about" role="button" class="btn btn-sm btn-danger">Know More</a>
    <div class="social-links mt-2">
      {% for contacts_hash in site.data.home.contacts %}
        {% assign contact = contacts_hash[1] %}
        <a href="{{ contact.url }}" target="_blank" alt="{{ contact.label }}">
          <i class="{{ contact.class }}"></i>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 p-2">
    <!-- Blogs Work -->
    <div class="home-blog-section alt-bg-color2">
      <div class="text-center h4">Latest Blogs
        <span class="float-right"><a href="/blogs" role="button" class="btn btn-sm btn-dark">
            <i class="fas fa-list-alt mr-2"></i>View All</a>
        </span>
      </div>
      <div class="row">
        {% for post in site.posts limit: 3 %}
          {% include blogs/post-outline.html post=post %}
        {% endfor %}
      </div>
    </div>

    <!-- Projects -->
    {% if site.data.projects.size >= 1 %}
      <div class="home-foss-section alt-bg-color3">
        <div class="text-center h4">Latest Projects
          <span class="float-right"><a href="/projects" role="button" class="btn btn-sm btn-dark">
              <i class="fas fa-list-alt mr-2"></i>View All</a>
          </span>
        </div>
        <div class="row">
          {% for project in site.data.projects limit: 3 %}
            {% include project-outline.html project=project %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
