---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="block">
          <div class="post-info-wrapper">
            <p class="font-italic">By
              <span class="font-weight-bold">{{ page.author }}</span> on
              <span class="font-weight-bold"><i class="far fa-calendar-alt mr-1"></i>{{ page.date | date: "%b %-d, %Y" }}</span>
              {% include read-time.html
                          content=content
                          bracket_start='('
                          bracket_end=')'
                          unit='min'
                          approx='true'
                          caption='read'
              %}
            </p>
          </div>
          <hr />
          <div class="post-content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <p class="center-text" style="padding: 30px;">
    <a href="{{ site.baseurl }}/">Back to blogs list</a>
  </p>
</div>
